ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4f4f2f;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}  

ul.topnav li a:hover {background-color: #555;}


table {
    border:  1px solid #000;
}

th {
    border: 1px solid #000;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    background-color: #cc3333;
    
}

td {
   border: 1px solid #000;
   text-align: center;
   font-size: 14px;
}

.navalbattles {background-color: #c0d9d9;}

.date {
   text-align:center; 
}
.date li:nth-child(3n) {
    background-color: #666633;
}

.date li:nth-child(3n-1) {
    background-color: #999966;
}

.date li:nth-child(3n-2) {
    background-color: #cccc99;
}



.date li :hover {
    background-color: #432100;
    color: #ffeddb;
}

.imagepeople {
   width: 100px;
   height: 150px;
}


.welcomeimage {
    float: left;
    width: 700px;
}

