body {
   margin-left: auto;
   margin-right: auto;
   background: -webkit-linear-gradient(left, #bdbdbd, #696969);
   background: -o-linear-gradient(right, #bdbdbd, #696969);
   background: -moz-linear-gradient(right,#bdbdbd, #696969);
   background: linear-gradient(to right,#bdbdbd, #696969);
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: -webkit-linear-gradient(left, #666333, #4f4f2f);
    background: -o-linear-gradient(right, #666333, #4f4f2f);
    background: -moz-linear-gradient(right,#666333, #4f4f2f);
    background: linear-gradient(to right,#666333, #4f4f2f);
    border: 1px solid #4f4f2f;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}  

ul.topnav li a:hover {background-color: #555;}

.gradient {
    background: -webkit-linear-gradient(left, #666333, #696969);
    background: -o-linear-gradient(right, #666333, #696969);
    background: -moz-linear-gradient(right,#666333, #696969);
    background: linear-gradient(to right,#666333, #696969);
    
}
.welcome {
    float: left;
    width: 700px;
    
}
.welcomeimage {
    border: 1px solid #f3f3f3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.pageimage {
    width: 290px;
}

.inscription {
    background: -webkit-linear-gradient(left, #666333, #4f4f2f);
    background: -o-linear-gradient(right, #666333, #4f4f2f);
    background: -moz-linear-gradient(right,#666333, #4f4f2f);
    background: linear-gradient(to right,#666333, #4f4f2f);
    border: 1px solid #4f4f2f;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #f3f3f3;
    font-size: 0.8em;
}

.headerpage {
    font-size: 30px;
    font-family: headerfont;
    font-weight: bolder;
    margin: 20px;
}


.slideviewer {

}




