
table {
    border:  1px solid #000;
}

th {
    border: 1px solid #000;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    background-color: #cc3333;
    
}

td {
   border: 1px solid #000;
   text-align: center;
   font-size: 14px;
}

.navalbattles {background-color: #c0d9d9;}





