

.date {
   text-align:center; 
}
.date li:nth-child(3n) {
    background-color: #666633;
}

.date li:nth-child(3n-1) {
    background-color: #999966;
}

.date li:nth-child(3n-2) {
    background-color: #cccc99;
}



.date li :hover {
    background-color: #432100;
    color: #ffeddb;
}
