

.importantpeople {
    width: 100%;
    float: left;
}
.peoplecontent {
   width: 80%;
   float: right;
}

.imagepeople {
    width: 150px;
    height: 200px;
    float: left;
    margin: 20px;
    border: 1px solid #4f4f2f;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
}


.peopleheader {
    font-size: 25px;
    color: #603813;
    font-weight: bolder;
    margin-top: 5px;
}

.peopledate {
    font-size: 15px;
    color:#336600;
    font-weight: bold;
    padding-top: 15px;
}




